---
import Brand from '@components/Brand.astro'
import BaseLayout from '@layouts/Base.astro'
---

<BaseLayout>
  <Brand slot="sidebar" />

  <div slot="body" class="text-center">
    <h1 class="text-2xl text-off-white">Page not found</h1>
  </div>
</BaseLayout>
